# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder
.vscode/

# Swift / Xcode
*.xcuserdata
*.xcworkspace
Pods/
DerivedData/
.build/
build/

# Symbolication
app.*.symbols

# Reasonix
.reasonix/
reasonix.toml
